body{
  background-color: rgb(48, 48, 48);
}

.neutralel{
  color: #B1B1B1;
  font-size: 1.2rem;
  font-weight: bold;
}

.greenel{
  color: #4F9F25;
  font-size: 1.2rem;
  font-weight: bold;
}

.orangeel{
  color: #D16A28;
  font-size: 1.2rem;
  font-weight: bold;
}

.redel{
  color: #B80000;
  font-size: 1.2rem;
  font-weight: bold;
}



.colname{
  color: white;

}


.info{
  display: flex;
}

p{
  color:white;
  font-size: 0.75rem
}

.fa-moon-o{
  color: #F4F1C9;
  font-size: 1.2rem;
}