{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen">
      <title>Monitoreo Sinapsis</title>
   </head>



   <body>
     

      <div class="container">
         <div class="row">



           <!-- BASURA -->
           <div class="col-md-4">
            <h2  class="colname">Recolec. Desechos</h2>
            
            <div class="row">
              
              <div class="col-md-12">
                {% for id_supra in supra_installed %}
                
                  {% if 'DD12' in id_supra %}:
                    <div class='info'>
                      <p class="neutralel" id='SUPRA{{id_supra}}'>Supra443 {{id_supra}}</p>
                      <p id='detail{{id_supra}}'></p>
                    </div>
                    
                  {% elif '91A8' in id_supra %}
                  <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>Supra441 {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>

                  {% elif '38' in id_supra%}
                  <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>Supra447 {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>
                    
                  {% elif '26' in id_supra%}
                  <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>Misterio? {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>
                  {% elif '7FEA' in id_supra%}
                  <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>Carrizales {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>

                  
                  {% elif '14' in id_supra%}
                  <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>A33BK9D {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>
                  
                  {% else %}
                     <div class='info'>
                    <p class="neutralel" id='SUPRA{{id_supra}}'>Desc {{id_supra}}</p>
                    <p id='detail{{id_supra}}'></p>
                  </div>
                  {% endif %}

                    

                {% endfor %}

                </div>
              </div>
            </div> 

            
            
            <!-- RASTREO -->
              
            <div class="col-md-4">
              <h2  class="colname">Rastreo</h2>
              <div class="row">
                
                <div class="col-md-12">
                  {% for id_hatillo in hatillo_installed %}
                  <div class='info'>
                    {% if '065E' in id_hatillo %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>P. Chery {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% elif '08F6' in id_hatillo %}
                      <i></i>
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>P. Corolla {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% elif 'CBBA' in id_hatillo %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>Unidad 108 {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% elif '08DE' in id_hatillo %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>Bus Carriz. {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% elif 'DCFA' in id_hatillo %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>P. Carriz. {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% elif '2269' in id_hatillo %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>Unidad 107{{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% else %}
                      <p class="neutralel" id='HATILLO{{id_hatillo}}'>Desc {{id_hatillo}}</p>
                      <p id='detail{{id_hatillo}}'></p>
                    {% endif %}
                    
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
            </div>  
            
            
            <!-- TABLA PRUEBA -->
            <div class="col-md-4">
              <h2  class="colname">Laboratorio</h2>
                  <div class="row">
                  <div class="col-md-12">
                    {% for id_prueba in prueba_installed %}
                      <div class='info'>

                        {% if '915C' in id_prueba %}
                          <p class="neutralel" id='PRUEBA{{id_prueba}}'>Inaki {{id_prueba}}</p>
                          <p id='detail{{id_prueba}}'></p>
                        {% elif '08F2' in id_prueba %}
                          <p class="neutralel" id='PRUEBA{{id_prueba}}'>Lab {{id_prueba}}</p>
                          <p id='detail{{id_prueba}}'></p>
                        {% else %}
                          <p class="neutralel" id='PRUEBA{{id_prueba}}'>Desc {{id_prueba}}</p>
                          <p id='detail{{id_prueba}}'></p>
                        {% endif %}
    




                        





                      </div>
                    {% endfor %}
  
                    </div>
                  </div>
            </div>  



         </div>
      </div>
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="{% static 'js/home.js' %}"></script>
   </body>
</html>

